.encounter-xp {
  line-height: 18px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  white-space: nowrap;
  vertical-align: top;
  background-color: #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 25px;
  flex: 0 0 120px;
  text-align: center;
  position: relative;
  font-size: 16px;
  font-weight: normal;
  padding: 4px;
  text-transform: capitalize;
}

.encounter-xp[rating="No Threat"] {
  background-color: #333333;
}
.encounter-xp[rating="trivial"] {
  background-color: #468847;
}
.encounter-xp[rating="low"] {
  background-color: #e3d753;
  color: black;
}
.encounter-xp[rating="moderate"] {
  background-color: #3476c9;
}
.encounter-xp[rating="severe"] {
  background-color: #f17e0d;
}
.encounter-xp[rating="extreme"] {
  background-color: #c92e2a;
}
.encounter-xp[rating="ludicrous"] {
  background-color: #d036f6;
}
.encounter-xp[rating="plaid"] {
  background-color: #a40000;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 17px, rgba(255, 255, 255, 0.2) 17px, rgba(255, 255, 255, 0.2) 35px), repeating-linear-gradient(-45deg, transparent, transparent 17px, rgba(255,255,255,0.4) 17px, rgba(255,255,255,0.4) 35px);
  background-attachment: fixed;
  font-size: 105%;
}
.encounter-xp[rating="TPK"] {
  background-color: #410101;
}